form {
    display: flex;
    flex-direction: column;
}

aside {
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    width: 300px;
}

.menu label {
    margin: 10px;
    cursor: pointer;
    background-color: grey;
    padding: 10px;
}

input {
    opacity: 0;
}

input:checked + label {
    font-style: italic;
    background-color: #FBD089;
}

.selected {
    background-color: white;
    font-style: italic;
}