.menu {
    display: flex;
    flex-direction: column;
    background-color: white;
}

aside {
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    width: 350px;
}

.menu label {
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: #0C1618;
}

.menu input {
    opacity: 0;
}


aside h1 {
    margin: 20px;
    font-size: 35px;
    text-align: center;
    color: #0C1618;
    background-color: white;
}

